@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Nova+Cut');

$blue: #224762;
$gold: #E7D185;
$lightblue: #85D5E6;
$red: #785151;
$green: #A1D781;
$purple: #655178;
$white: #fff;
$offwhite: rgba(255,255,255,.8);

.color {
  &__one {
    &html {
      background: $blue;
    }
    body {
      background: $blue;
    }
    .menu-item__title {
      color: $gold;
    }
    a {
      color: $gold;
    }
    .office__selector {
      &:hover {
        .office__title {
          color: $gold;
        }
      }
    }
  }
  &__two {
    &html {
      background: $red;
    }
    body {
      background: $red;
    }
    .menu-item__title {
      color: $lightblue;
    }
    a {
      color: $lightblue;
    }
  }
  &__three {
    &html {
      background: $purple;
    }
    body {
      background: $purple;
    }
    .menu-item__title {
      color: $green;
    }
    a {
      color: $green;
    }
  }
}
*{
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-family: 'Nova Cut', cursive;
  font-weight: normal;
}
h1 {font-size: 56px;}
h2 {font-size: 48px;}
h3 {font-size: 40px;}
h4 {font-size: 32px;}
h5 {font-size: 24px;}
h6 {font-size: 16px;}

p{
  margin: 0;
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
  line-height: 24px;
  color: $offwhite;
}

a {
  text-decoration: none;
  &:hover {
   text-decoration: underline;     
  }
}

.text-center {
  text-align: center;
}

.logo{
  display: inline-block;
  position: fixed;
  left: 0;
  top: 10%;
  height: 80vh;
  width: auto;
  z-index: 1;
  opacity: .07;
}

.lunch{
  height: 100%;

  &__menu{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__day{
    
    h3{
      margin-bottom: 0;
    }
    a{
      display: block;
    }
  }
}

header{
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.office{

  &__selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    color: #fff;
    transition: all .2s ease-in-out;
  }

  &__arrow {
    width: 24px;
  }

  &__caterer {
    font-size: 12px;
  }

}
.menu-item {
  margin-bottom: 30px;
  padding-left: 40%;
  &__inner {
    display: inline-block;
    text-align: left;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__food {
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .menu-item {
    padding-left: 20%;
  }
}
@media (max-width: 480px) {
  .menu-item {
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}