@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Nova+Cut');

$blue: #224762;
$gold: #E7D185;
$white: #fff;
$offwhite: rgba(255,255,255,.8);

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Nova Cut', cursive;
  color: $gold;
  font-size: 42px;
}

p{
  font-family: 'Fira Mono', monospace;
  color: $offwhite;
}

body{
  background: $blue;
  padding: 50px;
}

.logo{
  color: $offwhite;
}